<!DOCTYPE html>
<html lang="en"  >
<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
	<link rel="stylesheet" href="1.css">
</head>
<body ng-app="myApp" ng-controller="MyController">
	
	<div class="container">
		<div class="jumbotron">
			<div ng-repeat="motnguoi in nhieunguoi" ng-init="motnguoi.hienra = false">
				<div class="card sua" ng-show="motnguoi.hienra">
					<div class="card-header">
						<h3>Thông tin của <input class="form-control" type="text" ng-model="motnguoi.ten"></h3>
						
					</div>
					<div class="card-block">
						<p>Tên: <input class="form-control" type="text" ng-model="motnguoi.ten"></p>
						<p>Tuổi: <input class="form-control" type="text" ng-model="motnguoi.tuoi"></p>
						<p>Giới tính: <input class="form-control" type="text" ng-model="motnguoi.gioitinh"></p>
					</div>
					<div class="card-footer">
						<button class="btn btn-info float-xs-right" ng-click="hienra(motnguoi)">Save</button>
					</div>
				</div>
				<div class="card" ng-show="!motnguoi.hienra">
					<div class="card-header">
						<h3>Thông tin của {{motnguoi.ten}}</h3>
						<button class="btn btn-info float-xs-right" ng-click="hienra(motnguoi)"><i class="fa fa-edit"></i></button>
					</div>
					<div class="card-block">
						<p>Tên: {{motnguoi.ten}}</p>
						<p>Tuổi: {{motnguoi.tuoi}}</p>
						<p>Giới tính: {{motnguoi.gioitinh}}</p>
					</div>
				</div>

			</div>

		</div>
	</div>




	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>  
	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
	<script type="text/javascript" src="1.js"></script>
</body>
</html>