<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
 	<link rel="stylesheet" href="1.css">
 	<style>
 		.do{
 			background: red;
 		}
 		.vang{
 			background: yellow;
 		}
 	</style>
</head>
<body ng-app="myApp" ng-controller="MyController" ng-init="mau='do'">
	<select name="" id="input" class="form-control" required="required" ng-model='mausac'>
		<option value="do">Do</option>
		<option value="vang">Vang</option>
	</select>
	<label>
		<input type="radio" name="mausac" ng-model="mau" value="do"> Mau do <br>
	</label>
	<label>
		<input type="radio" name="mausac" ng-model="mau" value="vang"> Mau vang <br>
	</label>
	<div class="jumbotron {{mau}}">
	</div>

	<div class="container">
		<div class="jumbotron">
			
		</div>
	</div>
	 



	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script>  
  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="1.js"></script>
</body>
</html>